/** FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
/** VARIABLES **/
/** UTILITIES **/
.bg-dark {
  background-color: #14151A;
}

.bg-light {
  background-color: #FEFEFE;
}

.ml-2 {
  margin-left: 2rem;
}

.btn {
  background-color: #FEFEFE;
  color: #E51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary:hover {
  background-color: #FEFEFE;
  color: #E51515;
}

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9F9F9F;
  background-color: #FEFEFE;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  color: #FEFEFE;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/**  TOP HEADER **/
.top-header {
  border-bottom: 1px solid #E51515;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header .container .logo h1 {
  font-size: 5rem;
  font-family: "Changa", sans-serif;
  color: #E51515;
}

.top-header .container .top-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 1rem;
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.top-header .container .top-social-menu li:hover a {
  color: #E51515;
}

.top-header .container .login-area span {
  display: none;
}
