/** FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
/** VARIABLES **/
/** UTILITIES **/
.bg-dark {
  background-color: #14151A;
}

.bg-light {
  background-color: #FEFEFE;
}

.ml-2 {
  margin-left: 2rem;
}

.m-1 {
  margin: 1rem;
}

.text-light {
  color: #FEFEFE;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #E51515;
}

/** MIXINS **/
/** BUTTONS **/
.btn {
  background-color: #FEFEFE;
  color: #E51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 768px) {
  .btn {
    padding: .5rem 1rem;
  }
}

.btn:hover {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary:hover {
  background-color: #FEFEFE;
  color: #E51515;
}

/** BADGES **/
.badge {
  border: none;
  padding: .2rem 2.4rem;
  font-size: 1.6rem;
  color: #FEFEFE;
  background-color: #E51515;
  margin: 5rem;
  letter-spacing: .2rem;
}

.badge-tech {
  background-color: #08ABBD;
}

.badge-game {
  background-color: #FFB320;
}

/** RATING **/
.rating {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  left: 1rem;
  background-color: #FEFEFE;
  opacity: 0;
  z-index: 100;
  line-height: 3rem;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 50%;
  color: #E51515;
}

/** REVIEWS **/
.review {
  padding: 5rem;
  font-size: 1.3rem;
  line-height: 1.8;
  margin-left: 10rem;
  border-left: 1px solid #E51515;
  border-bottom: 1px solid #E51515;
  -webkit-transform: skew(-28deg);
          transform: skew(-28deg);
}

@media (max-width: 992px) {
  .review {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
    border: none;
    margin-left: 0;
  }
}

.review > * {
  -webkit-transform: skew(28deg);
          transform: skew(28deg);
}

@media (max-width: 992px) {
  .review > * {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

.review-tags {
  font-size: 1.5rem;
  color: #FEFEFE;
  text-transform: uppercase;
}

.review-text {
  margin: 1rem 0;
}

.review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .review-user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.review-user img {
  width: 8rem;
  margin-right: 3rem;
  border-radius: 50%;
}

.review-user-detail {
  font-family: "Changa", sans-serif;
  margin-right: 3rem;
}

.review-user-detail .review-user-name {
  color: #E51515;
}

.review-user-detail .review-user-date {
  color: #FFB320;
}

.review-user-platform :not(:last-child) {
  color: #E51515;
}

.review-user-platform .fab {
  margin: 0 1rem;
}

.review-user-rating {
  margin-left: auto;
}

@media (max-width: 576px) {
  .review-user-rating {
    margin-left: 0;
  }
}

.review-user-rating .checked {
  color: #E51515;
}

/** CRADS **/
.card {
  height: 40rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media (max-width: 992px) {
  .card {
    height: 35rem;
  }
}

@media (max-width: 768px) {
  .card {
    height: 30rem;
  }
}

@media (max-width: 576px) {
  .card {
    height: 25rem;
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card .card-front, .card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card .card-front {
  background-color: #E51515;
}

.card .card-back {
  background-color: #14151A;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: table;
}

.card .card-back-content {
  display: table-cell;
  vertical-align: middle;
}

.card .card-back-content p {
  font-size: 1.8rem;
}

.card .card-back-content a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card .card-back-content a:hover {
  color: #E51515;
}

.card:hover .card-front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card-back {
  -webkit-transform: none;
          transform: none;
}

@-webkit-keyframes mainAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    border-top: 0px solid #E51515;
  }
  50% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-top: 2px solid #E51515;
  }
}

@keyframes mainAni {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    border-top: 0px solid #E51515;
  }
  50% {
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-top: 2px solid #E51515;
  }
}

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9F9F9F;
  background-color: #FEFEFE;
}

main {
  overflow: hidden;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 8rem 0;
}

@media (max-width: 768px) {
  section {
    padding: 4rem 0;
  }
}

@media (max-width: 576px) {
  section {
    padding: 2rem 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Changa", sans-serif;
  color: #E51515;
  font-weight: 300;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 7rem;
}

@media (max-width: 992px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 5rem;
  color: #FEFEFE;
}

@media (max-width: 992px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
  color: #FEFEFE;
}

a {
  text-decoration: none;
  font-family: "Changa", sans-serif;
  color: #FEFEFE;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/**  RESPONSIVE HEADER **/
.open-menu, .close-menu {
  font-size: 3rem;
  color: #FEFEFE;
  cursor: pointer;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .open-menu, .close-menu {
    display: block;
  }
}

.open-menu {
  margin-right: 2rem;
}

@media (max-width: 992px) {
  .close-menu {
    position: absolute;
    top: 2.5rem;
    right: 2.3rem;
  }
}

.open-menu:hover, .close-menu:hover {
  color: #E51515;
}

#chek {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

/**  TOP HEADER **/
.top-header {
  border-bottom: 1px solid #E51515;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .top-header .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.top-header .container .top-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .top-header .container .top-social-menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 1rem;
}

@media (max-width: 992px) {
  .top-header .container .top-social-menu li {
    margin: 0 .5rem;
    padding: .5rem;
  }
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top-header .container .top-social-menu li:hover a {
  color: #E51515;
}

.top-header .container .login-area span {
  display: inline-block;
}

@media (max-width: 768px) {
  .top-header .container .login-area span {
    display: none;
  }
}

.top-header .container .login-area i {
  display: none;
}

@media (max-width: 768px) {
  .top-header .container .login-area i {
    display: inline-block;
  }
}

/**  NAV HEADER **/
@media (max-width: 992px) {
  .nav-header {
    position: fixed;
    background-color: rgba(20, 21, 26, 0.7);
    top: 0;
    width: 50%;
    right: -50%;
    z-index: 10;
    height: 100vh;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-header.active {
    right: 0;
  }
}

.nav-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .nav-header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-header .navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .nav-header .navbar .navbar-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.nav-header .navbar .navbar-list li {
  line-height: 8rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  background-color: #2a2c37;
  width: 150%;
  left: 50%;
  z-index: 10;
  top: 12rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
}

.nav-header .navbar .navbar-list li:hover {
  background-color: #E51515;
}

.nav-header .navbar .navbar-list li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 8rem;
}

.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.nav-header .navbar .navbar-list i {
  color: #FEFEFE;
  font-size: 1.6rem;
  margin-right: 1rem;
}

@media (max-width: 992px) {
  .nav-header .navbar .search-area {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 2rem;
  }
}

.nav-header .navbar .search-area input[type="search"], .nav-header .navbar .search-area button[type="submit"] {
  border: none;
  background-color: transparent;
  color: #FEFEFE;
}

.nav-header .navbar .search-area input[type="search"] {
  border-bottom: 1px solid #E51515;
  padding: .5rem;
}

.nav-header .navbar .search-area button[type="submit"] {
  margin-left: -5rem;
}

/**  MAIN SLIDER **/
.main-slider .single-slide {
  position: relative;
}

.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.main-slider .single-slide .slide-overlay .slide-content {
  position: absolute;
  top: 25%;
  width: 80%;
  border-top: 2px solid #E51515;
  border-bottom: 2px solid #E51515;
  padding: 10rem 7rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(black));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
  -webkit-animation: mainAni 3s ease-out;
          animation: mainAni 3s ease-out;
}

@media (max-width: 992px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    width: 100%;
    padding: 6rem 4rem;
  }
}

@media (max-width: 768px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 576px) {
  .main-slider .single-slide .slide-overlay .slide-content {
    padding: 2rem 1rem;
  }
}

.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .main-slider .single-slide .slide-overlay .slide-content p {
    font-size: 1.2rem;
  }
}

/** CUSTOM  OWL CAROUSEL **/
.owl-theme {
  position: relative;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 6rem;
  right: 10%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .owl-theme .owl-dots {
    top: 2rem;
  }
}

@media (max-width: 768px) {
  .owl-theme .owl-dots {
    top: 1rem;
  }
}

@media (max-width: 576px) {
  .owl-theme .owl-dots {
    top: .5rem;
  }
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 4rem;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: #E51515;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  font-size: 2.5rem;
  font-family: "Changa", sans-serif;
  background: transparent;
}

/** LATEST NEWS **/
.latest-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E51515;
  height: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .latest-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.latest-news-title {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: right;
  padding-right: 2rem;
}

.latest-news-content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background-color: #14151A;
  height: 100%;
}

.latest-news-content .news-ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 8rem;
}

@media (max-width: 768px) {
  .latest-news-content .news-ticker {
    line-height: 4rem;
  }
}

.latest-news-content .news-ticker p {
  color: #FEFEFE;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .latest-news-content .news-ticker p {
    font-size: 1.2rem;
  }
}

/** RECENT GAMES SECTION **/
.recent-games {
  background-color: #FEFEFE;
}

.recent-games-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
      grid-template-areas: 'item-1 item-1 item-1 item-2' 'item-3 item-4 item-5 item-6';
}

.recent-games-content .recent-game-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item-1;
}

.recent-games-content .recent-game-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item-2;
}

.recent-games-content .recent-game-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-3;
}

.recent-games-content .recent-game-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item-4;
}

.recent-games-content .recent-game-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item-5;
}

@media (max-width: 768px) {
  .recent-games-content .recent-game-5 {
    display: none;
  }
}

@media (max-width: 576px) {
  .recent-games-content .recent-game-5 {
    display: block;
  }
}

.recent-games-content .recent-game-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: item-6;
}

@media (max-width: 768px) {
  .recent-games-content .recent-game-6 {
    display: none;
  }
}

@media (max-width: 992px) {
  .recent-games-content {
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .recent-games-content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'item-1 item-1 item-1' 'item-2 item-3 item-4' 'item-5 item-6 item-7';
  }
}

@media (max-width: 576px) {
  .recent-games-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'item-1 item-1' 'item-2 item-3' 'item-4 item-5' 'item-6 item-7';
  }
}

.recent-games-content .recent-game-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .recent-games-content .recent-game-featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recent-games-content .recent-game-featured .recent-game-thumbnail {
  height: 100%;
}

.recent-games-content .recent-game-featured .recent-game-thumbnail img {
  height: 100%;
}

.recent-games-content .recent-game-featured .rating {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}

.recent-games-content .recent-game-featured .game-title {
  font-size: 3rem !important;
}

.recent-games-content .recent-game {
  width: 100%;
  height: 100%;
  background-color: #14151A;
}

.recent-games-content .recent-game-thumbnail {
  position: relative;
  overflow: hidden;
}

.recent-games-content .recent-game-thumbnail img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recent-games-content .recent-game-thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(229, 21, 21, 0.6);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail::after, .recent-games-content .recent-game:focus .recent-game-thumbnail::after {
  visibility: visible;
  opacity: 1;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail img, .recent-games-content .recent-game:focus .recent-game-thumbnail img {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail .rating, .recent-games-content .recent-game:focus .recent-game-thumbnail .rating {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recent-games-content .recent-game-content {
  padding: 2rem;
}

.recent-games-content .recent-game-content .game-title {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.recent-games-content .recent-game-content .game-title a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recent-games-content .recent-game-content .game-title a:hover {
  color: #b2b2b2;
}

.recent-games-content .recent-game-content .game-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.recent-games-content .recent-game-content .game-meta .game-date {
  color: #FFB320;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.recent-games-content .recent-game-content .game-meta .game-date:hover {
  color: #865800;
}

.recent-games-content .recent-game-content p {
  font-size: 1.3rem;
  line-height: 1.8;
}

/** LATEST REVIEWED SECTION **/
.last-reviewed {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  background-color: #14151A;
}

.last-reviewed-detail {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media (max-width: 992px) {
  .last-reviewed-detail {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (max-width: 768px) {
  .last-reviewed-detail {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .last-reviewed-detail {
    text-align: center;
  }
}

.last-reviewed-image {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e51515), to(rgba(229, 21, 21, 0.1))), url(../img/game_3.jpg);
  background-image: linear-gradient(to right bottom, #e51515, rgba(229, 21, 21, 0.1)), url(../img/game_3.jpg);
  background-size: cover;
  height: 100%;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 992px) {
  .last-reviewed-image {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-clip-path: none;
            clip-path: none;
    background-position: center center;
  }
}

@media (max-width: 768px) {
  .last-reviewed-image {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

/** GALLERY SECTION **/
.masonary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (20rem)[3];
      grid-template-rows: repeat(3, 20rem);
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .masonary {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
}

@media (max-width: 576px) {
  .masonary {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.masonary-item {
  position: relative;
  cursor: pointer;
  background-color: #E51515;
}

.masonary-item-1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.masonary-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media (max-width: 768px) {
  .masonary-item-2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.masonary-item-3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

@media (max-width: 768px) {
  .masonary-item-3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media (max-width: 576px) {
  .masonary-item-3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.masonary-item-4 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (max-width: 576px) {
  .masonary-item-4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.masonary-item-5 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

@media (max-width: 768px) {
  .masonary-item-5 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 576px) {
  .masonary-item-5 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.masonary-item-6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

@media (max-width: 768px) {
  .masonary-item-6 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media (max-width: 576px) {
  .masonary-item-6 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.masonary-item-7 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (max-width: 576px) {
  .masonary-item-7 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.masonary-item-8 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

@media (max-width: 768px) {
  .masonary-item-8 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media (max-width: 576px) {
  .masonary-item-8 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.masonary-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.masonary-item .masonary-image {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.masonary-item:hover .masonary-image {
  opacity: 0.3;
}

.masonary-item:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/** SHOWCASE SECTION **/
.showcase {
  background-color: #14151A;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .showcase-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (25rem)[2];
        grid-template-rows: repeat(2, 25rem);
  }
}

@media (max-width: 768px) {
  .showcase-content {
    -ms-grid-rows: (20rem)[2];
        grid-template-rows: repeat(2, 20rem);
  }
}

.showcase-content .showcase-item {
  position: relative;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showcase-content .showcase-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1280px) {
  .showcase-content .showcase-item:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.showcase-content .showcase-item:hover .item-image:before, .showcase-content .showcase-item:hover .item-content h3, .showcase-content .showcase-item:hover .item-content i, .showcase-content .showcase-item:hover .item-content p {
  opacity: 1;
}

.showcase-content .showcase-item:hover .item-content h3, .showcase-content .showcase-item:hover .item-content p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase-content .showcase-item .item-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 21, 21, 0.6);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showcase-content .showcase-item .item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.showcase-content .showcase-item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.showcase-content .showcase-item .item-content h3 {
  color: #FEFEFE;
  font-size: 2.2rem;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

@media (max-width: 768px) {
  .showcase-content .showcase-item .item-content h3 {
    font-size: 1.8;
  }
}

.showcase-content .showcase-item .item-content i {
  font-size: 5rem;
  margin: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.showcase-content .showcase-item .item-content i:hover {
  color: #cbcbcb;
}

@media (max-width: 768px) {
  .showcase-content .showcase-item .item-content i {
    font-size: 4rem;
    margin: .5rem;
  }
}

.showcase-content .showcase-item .item-content p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FEFEFE;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

@media (max-width: 768px) {
  .showcase-content .showcase-item .item-content p {
    font-size: 1.3rem;
  }
}

/** TEAM SECTION **/
.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-members .team-member {
  width: 100%;
  height: 100%;
}

.team-members .team-member:first-child {
  margin-right: 5rem;
}

@media (max-width: 992px) {
  .team-members .team-member:first-child {
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .team-members .team-member:first-child {
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .team-members .team-member:first-child {
    margin-right: 0;
  }
}

.team-members .team-member:last-child {
  margin-left: 5rem;
}

@media (max-width: 992px) {
  .team-members .team-member:last-child {
    margin-left: 3rem;
  }
}

@media (max-width: 768px) {
  .team-members .team-member:last-child {
    margin-left: 1rem;
  }
}

@media (max-width: 576px) {
  .team-members .team-member:last-child {
    margin-left: 0;
  }
}

/** CONTACT SECTION **/
.contact {
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%), url("../img/contact.jpg");
  background-size: cover;
  min-height: 100vh;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-content-detail {
  background-color: rgba(229, 21, 21, 0.8);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FEFEFE;
  min-height: 40rem;
  margin-right: -5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .contact-content-detail {
    width: 90%;
    min-height: 30rem;
    margin-right: 0;
  }
}

.contact-content-detail h3 {
  color: #FEFEFE;
  margin-bottom: 3rem;
}

.contact-content-detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.contact-content-detail ul li i {
  margin-right: 2rem;
}

.contact-content-detail ul li p {
  font-size: 1.4rem;
}

.contact-content-form {
  background-color: rgba(20, 21, 26, 0.8);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .contact-content-form {
    width: 90%;
    min-height: 40rem;
  }
}

.contact-content-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-content-form form input, .contact-content-form form textarea {
  width: 60%;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  display: block;
  color: #FEFEFE;
}

.contact-content-form form input:focus, .contact-content-form form textarea:focus {
  outline: none;
  border-bottom: 1px solid #FEFEFE;
}

.contact-content-form form :not(:last-child) {
  margin-bottom: 3rem;
  background-color: transparent;
  border-bottom: 1px solid #E51515;
}

.contact-content-form form textarea {
  resize: none;
}

.contact-content-form form input[type=submit] {
  background-color: #FEFEFE;
  color: #E51515;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-content-form form input[type=submit]:hover {
  background-color: #E51515;
  color: #FEFEFE;
}

/** FOOTER SECTION **/
footer {
  background-color: #14151A;
  height: 6rem;
  font-family: "Changa", sans-serif;
}

@media (max-width: 768px) {
  footer {
    height: 4rem;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

footer .container .copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

footer .container .copyright p {
  line-height: 6rem;
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  footer .container .copyright p {
    line-height: 4rem;
    font-size: 1.8rem;
  }
}

footer .container .down-social-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: pink;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .down-social-link .fc, footer .container .down-social-link .yt, footer .container .down-social-link .tw {
  line-height: 6rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
}

@media (max-width: 768px) {
  footer .container .down-social-link .fc, footer .container .down-social-link .yt, footer .container .down-social-link .tw {
    line-height: 4rem;
    font-size: 1.8rem;
  }
}

footer .container .down-social-link .fc {
  background-color: #4b5496;
}

footer .container .down-social-link .tw {
  background-color: #6799ed;
}

footer .container .down-social-link .yt {
  background-color: #d92424;
}
