/** FONTS **/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
/** VARIABLES **/
/** UTILITIES **/
.bg-dark {
  background-color: #14151A;
}

.bg-light {
  background-color: #FEFEFE;
}

.ml-2 {
  margin-left: 2rem;
}

/** MIXINS **/
.btn {
  background-color: #FEFEFE;
  color: #E51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn:hover {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary {
  background-color: #E51515;
  color: #FEFEFE;
}

.btn-primary:hover {
  background-color: #FEFEFE;
  color: #E51515;
}

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9F9F9F;
  background-color: #FEFEFE;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-family: "Changa", sans-serif;
  font-size: 5rem;
  color: #FEFEFE;
  letter-spacing: .5rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  color: #FEFEFE;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/**  TOP HEADER **/
.top-header {
  border-bottom: 1px solid #E51515;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header .container .logo h1 {
  font-size: 5rem;
  font-family: "Changa", sans-serif;
  color: #E51515;
}

.top-header .container .top-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 1rem;
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.top-header .container .top-social-menu li:hover a {
  color: #E51515;
}

.top-header .container .login-area span {
  display: none;
}

/**  NAV HEADER **/
.nav-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header .navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header .navbar .navbar-list li {
  line-height: 8rem;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  background-color: #2a2c37;
  width: 150%;
  left: 50%;
  z-index: 10;
  top: 12rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
}

.nav-header .navbar .navbar-list li:hover {
  background-color: #E51515;
}

.nav-header .navbar .navbar-list li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 8rem;
}

.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.nav-header .navbar .navbar-list i {
  color: #FEFEFE;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.nav-header .navbar .search-area input[type="search"], .nav-header .navbar .search-area button[type="submit"] {
  border: none;
  background-color: transparent;
  color: #FEFEFE;
}

.nav-header .navbar .search-area input[type="search"] {
  border-bottom: 1px solid #E51515;
  padding: .5rem;
}

.nav-header .navbar .search-area button[type="submit"] {
  margin-left: -5rem;
}

/**  MAIN SLIDER **/
.main-slider .single-slide {
  position: relative;
}

.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.main-slider .single-slide .slide-overlay .slide-content {
  position: absolute;
  top: 25%;
  width: 80%;
  border-top: 2px solid #E51515;
  border-bottom: 2px solid #E51515;
  padding: 10rem 7rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(black));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), black);
}

.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.4rem;
}

/** CUSTOM  OWL CAROUSEL **/
.owl-theme {
  position: relative;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 6rem;
  right: 10%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 4rem;
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: #E51515;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  font-size: 2.5rem;
  font-family: "Changa", sans-serif;
  background: transparent;
}
