/** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap');

/** VARIABLES **/

$primary-font: 'Changa', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #E51515;
$secondary-color: #14151A;
$date-color: #FFB320;
$comment-color:#08ABBD;
$gray-color:#9F9F9F;
$light-color:#FEFEFE;