@keyframes mainAni {
    0% {
        opacity: 0;
        transform: translateY(5rem);
        border-top: 0px solid $primary-color;
    }

    50% {
        transform: translateY(-5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        border-top: 2px solid $primary-color;
    }
}