/** BUTTONS **/

.btn {
    background-color: $light-color;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    letter-spacing: 2px;
    transition: all .5s;

    &:hover {
        background-color: $primary-color;
        color: $light-color;
    }

    &-primary { 
        background-color: $primary-color;
        color: $light-color; 

        &:hover { 
            background-color: $light-color;
            color: $primary-color;
        }
    }

}

/** BADGES **/

.badge {
    border: none;
    padding: .2rem 2.4rem;
    font-size: 1.6rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 5rem;
    letter-spacing: .2rem;

    &-tech {
        background-color: $comment-color; 
    }

    &-game {
        background-color: $date-color;
    }

}

/** RATING **/

.rating {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    left: 1rem;
    background-color: $light-color;
    opacity: 0;
    z-index: 100;
    line-height: 3rem;
    font-size: 1.4rem;
    font-family: $primary-font;
    text-align: center;
    transition: all .5s;
    border-radius: 50%;
    color: $primary-color;
}

/** REVIEWS **/

.review {
    padding: 5rem;
    font-size: 1.3rem;
    line-height: 1.8;
    margin-left: 10rem;
    border-left: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    transform: skew(-28deg);

    & > * {
        transform: skew(28deg);
    }

    &-tags {
        font-size: 1.5rem;
        color: $light-color;
        text-transform: uppercase;
    }

    &-text {
        margin: 1rem 0;

    }

    &-user {
        display: flex;
        align-items: center;

        img {
            width: 8rem;
            margin-right: 3rem;
            border-radius: 50%;
        }

        &-detail {
            font-family: $primary-font;
            margin-right: 3rem;

            .review-user-name {
                color: $primary-color;  
            }
            .review-user-date {
                color: $date-color;  
            }
        }

        &-platform {

            :not(:last-child) {
                color: $primary-color;
            }

            .fab {
                margin: 0 1rem;
            }
            
        }

        &-rating {
            margin-left: auto;

            .checked {
                color: $primary-color;
            }
        }
    }
}