/** BUTTONS **/

.btn {
    background-color: $light-color;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    letter-spacing: 2px;
    transition: all .5s;

    &:hover {
        background-color: $primary-color;
        color: $light-color;
    }

    &-primary { 
        background-color: $primary-color;
        color: $light-color; 

        &:hover { 
            background-color: $light-color;
            color: $primary-color;
        }
    }

}

/** BADGES **/

.badge {
    border: none;
    padding: .2rem 2.4rem;
    font-size: 1.6rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 5rem;
    letter-spacing: .2rem;

    &-tech {
        background-color: $comment-color; 
    }

    &-game {
        background-color: $date-color;
    }

}