@import 'abstracts';
@import 'components';

/** GENERAL SETTINGS **/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $secondary-font;
  color: $gray-color;
  background-color: $light-color;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/**  TOP HEADER **/

.top-header {
  border-bottom: 1px solid $primary-color;

  .container {
    @include flex-display(flex, center, space-between);

    .logo {

      h1 {
        font-size: 5rem;
        font-family: $primary-font;
        color: $primary-color;
      }
    }

    .top-social-menu {
      display: flex;

      li {
        margin: 0 1rem;
        padding: 1rem;

        a {
          font-size: 2rem;
          transition: all .5s;
        }

        &:hover a {
          color: $primary-color;
        }
      }
    }

    .login-area {
      span {
        display: none;
      }
    }
  }
}


/**  NAV HEADER **/

.nav-header {
  .navbar {
    @include flex-display(flex, center, space-between);

    .navbar-list {
      display: flex;

      li {
        line-height: 8rem;
        position: relative;
        transition: all .5s;

        .dropdown {
          position: absolute;
          background-color: lighten($secondary-color, 10%);
          width: 150%;
          left: 50%;
          z-index: 10;
          top: 12rem;
          transition: all .5s;
          opacity: 0;

          li {
            line-height: 4rem;
          }
        }

        &:hover {
          background-color: $primary-color;

          & .dropdown {
            opacity: 1;
            top: 8rem;
          }
        }
      }

      a {
        padding: 0 2rem;
        font-size: 1.6rem;
        letter-spacing: 2px;
      }

      i {
        color: $light-color;
        font-size: 1.6rem;
        margin-right: 1rem;
      }
    }

    .search-area {
      input[type="search"], button[type="submit"] {
        border: none;
        background-color: transparent;
        color: $light-color;
      }

      input[type="search"] {
        border-bottom: 1px solid $primary-color;
        padding: .5rem;
      }

      button[type="submit"] {
        margin-left: -5rem;
      }
    }


  }
}