/** FONTS **/

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap');

/** VARIABLES **/

$primary-font: 'Changa', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color: #E51515;
$secondary-color: #14151A;
$date-color: #FFB320;
$comment-color:#08ABBD;
$gray-color:#9F9F9F;
$light-color:#FEFEFE;

/** GENERAL SETTINGS **/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $secondary-font;
  color: $gray-color;
  background-color: $light-color;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  /* color: $light-color; */
}

ul {
  list-style: none;
}

img {
  width: 100%;
}